@font-face {
  /* Regular */
  font-family: "StudioFeixen";
  font-weight: 400;
  src: url('../../fonts/StudioFeixen/StudioFeixenSans-Regular.otf') format('opentype');
}
@font-face {
  /* Medium */
  font-family: "StudioFeixen";
  font-weight: 500;
  src: url('../../fonts/StudioFeixen/StudioFeixenSans-Medium.otf') format('opentype');
}
@font-face {
  /* Bold */
  font-family: "StudioFeixen";
  font-weight: 700;
  src: url('../../fonts/StudioFeixen/StudioFeixenSans-Bold.otf') format('opentype');
}
@font-face {
  /* Black */
  font-family: "StudioFeixen";
  font-weight: 800;
  src: url('../../fonts/StudioFeixen/StudioFeixenSans-Black.otf') format('opentype');
}

body {
  letter-spacing: -0.01em;
}
.font-ui {
  letter-spacing: 0;
}
