/* Extensions to tailwind's typography plugin */

.prose {
  max-width: 100vw;

  @apply p-5 md:p-10 w-full
}

.prose h1, .prose h2, .prose h3, .prose h4, .prose h5, .prose h6 {
 /* WARNING: Text colors must be in sync with the .HeadingAnchor class */
  @apply font-heading mb-2 antialiased text-elements-highEm;
}

.prose h1 {
  @apply text-4xl md:text-5xl;
}

.prose p,
.prose ul > li,
.prose ol > li,
.prose details summary
{
  @apply font-paragraph text-elements-midEm my-1;
}

.prose a {
  @apply text-blue-500;
}
.prose span.HeadingAnchorWrap {
  display: inline-block;
  position: absolute; top: -0.05em; left: -0.9em;
  padding-right: 0.9em;
  @apply opacity-0 hover:opacity-100;
}
.prose a.HeadingAnchor {
  /* WARNING: Text colors must be in sync with this file's and the built in prose styles */
  color: #171717;
  text-decoration: none;
  @apply text-white hover:underline;
}

.prose strong {
  @apply text-elements-highEm;
}

.prose blockquote {
  @apply border-zinc-700;
}
.prose blockquote > p {
  @apply text-xl text-zinc-300;
}

.prose aside {
  @apply my-9 p-4 rounded-xl text-sm border;

  &.info {
    @apply bg-base-bg-emphasized-info border-border-info-light text-elements-onEmphasized-info;

    svg {
      @apply text-elements-info
    }
  }

  &.danger {
    @apply bg-base-bg-emphasized-danger border-border-danger-light text-elements-onEmphasized-danger;

    svg {
      @apply text-elements-danger
    }
  }

  &.warning {
    @apply bg-base-bg-emphasized-warning border-border-warning-light text-elements-onEmphasized-warning;

    svg {
      @apply text-elements-warning
    }
  }

  &.neutral {
    @apply bg-base-bg-emphasized border-border-separator text-elements-highEm;

    svg {
      @apply text-elements-onEmphasized-info
    }
  }
}

.prose aside .AsideContent {
  @apply flex;
}
.prose aside .AsideContent > svg {
  @apply flex-shrink-0 h-6 w-6;
}
.prose aside .AsideContent > div {
  @apply flex-1 ml-2 md:ml-3;
}

.prose aside.-instructor-notes > div:first-child {
  cursor: pointer;
}
.prose aside.-instructor-notes .AsideContent {
  @apply mt-6;
}
.prose aside.-instructor-notes .AsideContent > div > *:first-child {
  margin-top: 0;
}

.prose tbody tr {
  @apply border-zinc-600;
}
.prose tbody td {
  @apply leading-snug p-3 text-zinc-100;
}

.prose code {
  padding: .15em .35em;
  margin: 0;
  font-size: 85%;
  border-radius: 6px;
  letter-spacing: 0;
  @apply font-normal text-zinc-100 bg-zinc-700;
}
.prose a code {
  @apply text-blue-500;
}
.prose pre {
  @apply bg-zinc-700;
}

.prose code::after {
  content: "";
}

.prose .wrap-code-block + pre {
  white-space: pre-wrap;
  overflow: auto;
  word-wrap: break-word;
}

.prose aside {
  @apply p-5;
}
.prose aside > *:first-child {
  margin-top: 0;
}
.prose aside > *:last-child {
  margin-bottom: 0;
}

.prose details {
  @apply pl-4;
}
.prose details > summary {
  cursor: pointer;
  @apply -ml-4;
}
.prose details > summary + * {
  @apply mt-2;
}
