/* Extensions to tailwind's typography plugin */

.prose {
  max-width: 72ch;
  width: auto;

  @apply p-5 md:p-10;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  position: relative;
  /* WARNING: Text colors must be in sync with the .HeadingAnchor class */
  @apply antialiased text-elements-highEm;
}

.prose h1 {
  @apply text-4xl md:text-5xl;
}

.prose p,
.prose ul > li,
.prose ol > li,
.prose details summary {
  @apply text-elements-midEm;
}

.prose span.HeadingAnchorWrap {
  display: inline-block;
  position: absolute;
  top: -0.05em;
  left: -0.9em;
  padding-right: 0.9em;
  @apply opacity-0 hover:opacity-100;
}
.prose a.HeadingAnchor {
  /* WARNING: Text colors must be in sync with this file's and the built in prose styles */
  color: #171717;
  text-decoration: none;
  @apply dark:text-white hover:underline;
}

.prose strong {
  @apply text-elements-highEm;
}

.prose blockquote > p {
  @apply text-xl text-gray-600;
}

.prose .FancyCodeBlock {
  @apply my-7;
}

aside[data-type="info"] { @apply bg-sky-50 border-sky-100 text-elements-onEmphasized-info; }
aside[data-type="info"] .aside__Icon { @apply text-controls-primary; }
aside[data-type="warning"] { background-color: #FFF7ED; border-color: #FFEDD5; @apply text-elements-onEmphasized-warning; }
aside[data-type="warning"] .aside__Icon { @apply text-controls-warning; }
aside[data-type="danger"] { background-color: #FFF1F2; border-color: #FFE4E6; @apply text-elements-onEmphasized-danger; }
aside[data-type="danger"] .aside__Icon { @apply text-controls-danger; }

.aside__Title:empty {
  display: none;
}

.prose ul + aside {
  @apply mt-7;
}

.prose details {
  @apply pl-4;
}
.prose details > summary {
  cursor: pointer;
  @apply -ml-4;
}
.prose details > summary + * {
  @apply mt-2;
}

a.header-anchor {
  position: absolute;
  padding-right: 0.75rem;
  left: -1.5rem;
  text-decoration: none;
  opacity: 0;
  transition: opacity 0.1s;
  @apply hover:underline;
}

h1:hover a.header-anchor,
h2:hover a.header-anchor,
h3:hover a.header-anchor,
h4:hover a.header-anchor,
h5:hover a.header-anchor,
h6:hover a.header-anchor {
  opacity: 1;
}

nav.table-of-contents {
  font-size: 14px;
}
nav.table-of-contents ul li a {
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply text-elements-highEm hover:text-controls-primary;
}

/* Remove indentation from first level of headers */
nav.table-of-contents > ul > li > ul {
  padding-left: 0;
  margin-left: -.333rem;
}
