@import './_fonts.css';
@import './_inputs.css';
@import './_animations.css';
@import './_sidebar.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './_prose.css';

@import 'highlight.js/styles/vs.css';

/* Consider for dark mode */
/* @import 'highlight.js/styles/xt256.css'; */
/* @import 'highlight.js/styles/agate.css'; */


body {
  @apply bg-canvas text-zinc-100;
}

.pesticide {
  @apply border border-blue-700;
}

.flex-center {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.SidebarLink {
  @apply flex items-center py-2 text-sm rounded-md;
}
.SidebarLink.-active {
  @apply bg-gray-100 dark:bg-zinc-500 text-blue-700 dark:text-zinc-200 font-medium;
}
.SidebarLink.-inactive {
  @apply text-gray-600 dark:text-zinc-200 hover:bg-gray-50 dark:hover:bg-zinc-700 hover:text-gray-900 dark:hover:text-gray-200 hover:opacity-80;
}
.SidebarLink.-disabled {
  pointer-events: none;
  @apply text-gray-600 hover:cursor-default;
}

.no-y-content-margin > :first-child {
  margin-top: 0;
}
.no-y-content-margin > :last-child {
  margin-bottom: 0;
}

.tableOfContentItem {
  @apply text-sm font-medium leading-tight text-sky-950;
}

.tableOfContentItem-level-1 {
}

.tableOfContentItem-level-2 {
  @apply pl-2;
}

.tableOfContentItem-level-3 {
  @apply pl-3;
}

.tableOfContentItem-level-4 {
  @apply pl-4;
}

.tableOfContentItem-level-5 {
  @apply pl-5;
}

.tableOfContentItem-eclipse {
  @apply text-sky-950 opacity-10;
}
